<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="~/Content/static/reset_pc.css" rel="stylesheet" />

    <style>
        .title {
            font-size: 20px;
            padding: 5px;
            background: #2894ff;
            color: white;
        }

        .list {
            border: 1px solid #9c9c9c;
            margin-bottom: 20px;
        }

            .list li {
                float: left;
                margin: 10px;
                background: #00bb00;
                cursor: pointer;
                border-radius: 8px;
                padding: 10px;
                width: 90px;
                height: 90px;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                padding-top: 15px;
                font-size: 14px;
            }

                .list li img {
                    width: 32px;
                    height: 32px;
                    margin-bottom: 3px;
                }

                .list li a {
                    display: block;
                    color: white;
                    text-align: center;
                }

        .clearfix:after {
            clear: both;
            content: "";
            display: block;
            width: 0;
            height: 0;
            visibility: visible;
        }
    </style>
</head>

<body>
    <div class="title">种子</div>
    <div class="list">
        <ul class="clearfix">
            <li>
                <a href="#">
                    <img src="~/Content/img/plant1.png" />
         
                    <div>经营许可</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/Content/img/plant2.png" alt="">
                    <div>经营备案</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/Content/img/plant3.png" alt="">
                    <div>种子进口</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/Content/img/plant4.png" alt="">
                    <div>种子出口</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/Content/img/plant5.png" alt="">
                    <div>品种审定</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/Content/img/plant6.png" alt="">
                    <div>品种保护</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/Content/img/plant7.png" alt="">
                    <div>品种登记</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/Content/img/plant8.png" alt="">
                    <div>品种推广</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/Content/img/plant9.png" alt="">
                    <div>种子储备</div>
                </a>
            </li>
        </ul>
    </div>
    <div class="title">肥料</div>
    <div class="list">
        <ul class="clearfix">
            <li>
                <a href="#">
                    <img src="~/Content/img/muck1.png" alt="">
                    <div>种植业数据</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="img/muck2.png" alt="">
                    <div>自然灾害</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/Content/img/muck3.png" alt="">
                    <div>农时农事</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/Content/img/muck4.png" alt="">
                    <div>登记发布</div>
                </a>
            </li>
        </ul>
    </div>
    <div class="title">农药</div>
    <div class="list">
        <ul class="clearfix">
            <li>
                <a href="#">
                    <img src="~/Content/img/drug1.png" alt="">
                    <div>农药登记数据</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/Content/img/drug2.png" alt="">
                    <div>农药残留限量数据</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/Content/img/drug3.png" alt="">
                    <div>标签数据查询</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/Content/img/drug4.png" alt="">
                    <div>田间试验审批查询</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/Content/img/drug5.png" alt="">
                    <div>实验单位数据</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/Content/img/drug6.png" alt="">
                    <div>企业信息查询</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/Content/img/drug7.png" alt="">
                    <div>有效成分查询</div>
                </a>
            </li>
        </ul>
    </div>
    <div class="title">其他</div>
    <div class="list">
        <ul class="clearfix">
            <li>
                <a href="#">
                    <img src="~/Content/img/cas1.png" alt="">
                    <div>农产品查询</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/Content/img/cas2.png" alt="">
                    <div>国家兽药基础信息查询</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/Content/img/cas3.png" alt="">
                    <div>CAS no查询</div>
                </a>
            </li>

        </ul>
    </div>
</body>

</html>