<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>权利事项</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="~/Content/layui/css/layui.css" media="all">

</head>
<body style="overflow: hidden">

    <div class="layui-tab" lay-filter="test">

        <ul class="layui-tab-title">
            <li class="layui-this" lay-id="11">权利事项</li>
            <li  lay-id="22">法律法规</li>
            <li lay-id="33">违法行为</li>

        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe id="tabs_iframe_grid" name="tabs_iframe_grid" height="800px" width="100%" src="@Url.Action("Item","Power")" frameborder="0"></iframe>
            </div>
            @*法律法规*@
            <div class="layui-tab-item">


                <iframe id="tabs_iframe_grid" name="tabs_iframe_grid" height="800px" width="100%" src="@Url.Action("Index","LawManger")" frameborder="0"></iframe>


            </div>

            @*违法行为*@
            <div class="layui-tab-item">
                <iframe id="tabs_iframe_grid" name="tabs_iframe_grid" height="800px" width="100%" src="@Url.Action("Index","Illegal")" frameborder="0"></iframe>

            </div>

        </div>
    </div>
    <script src="~/Content/layui/layui.js" charset="utf-8"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

    <script>
        layui.use(['table', 'form', 'element'], function () {
            var table = layui.table;

            var form = layui.form;
            var $ = layui.jquery
                , element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
            //Hash地址的定位
            var layid = location.hash.replace(/^#test=/, '');
            element.tabChange('test', layid);

            element.on('tab(test)', function (elem) {
                location.hash = 'test=' + $(this).attr('lay-id');
            });

        });


    </script>

</body>
</html>