@{
    ViewBag.Title = "VoicePlay";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>音频播放</title>
    <script src="@Url.Content("~/Librarys/jquery/jquery-1.9.1.min.js")"></script>
    <script>var _gaq = [['_setAccount', 'UA-20257902-1'], ['_trackPageview']]; (function (d, t) { var g = d.createElement(t), s = d.getElementsByTagName(t)[0]; g.async = 1; g.src = 'ga.js'; s.parentNode.insertBefore(g, s) }(document, 'script'))</script>
    <script src="@Url.Content("~/Librarys/audiojs/audio.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            var sid = '@ViewBag.sid';
            $.ajax({
                type: "POST",
                url: "/Evidence/VideoInfo",
                data: { sid: sid, type: 2 },
                async: false,
                success: function (data) {
                    var json = eval('(' + data + ')');
                    $("audio").attr("src", json.playurl);
                    $("#filename").text(json.filename);
                    $("#filelength").text(json.filelength);
                    $("#uname").text(json.uname);
                    $("#update").text(json.update);
                    $("#classno").text(json.classno);
                    $("#deptname").text(json.deptname);
                    $("#fbreak").text(json.fbreak);
                    $("#Collectionaddr").text(json.address);
                    audiojs.createAll();
                }
            });
        });
    </script>
    <style type="text/css">
        body {
            margin: 0px;
        }

        * li {
            list-style: none;
        }

        .panel {
            clear: both;
            width: 460px;
            background-color: #fff;
            z-index: 20;
            font-family: helvetica,arial,verdana,tahoma,sans-serif;
            padding-top: 10px;
        }

        * table {
            color: #565656;
            font-size: 12px;
            width: 460px;
        }

        td {
            padding-bottom: 10px;
        }

        .attribute {
            width: 60px;
            text-align: right;
            padding-right: 10px;
        }

        .attributevalue {
            width: 100px;
            text-align: left;
        }

        .addr {
            width: 80px;
            text-align: right;
            padding-right: 10px;
        }
    </style>
</head>
<body>
    <audio src="" preload="auto"></audio>
    <div class="panel">
        <table cellspacing="0" cellpadding="0" border="0">
            <tr>
                <td class="attribute">媒体名称：
                </td>
                <td class="attributevalue">
                    <label id="filename">
                    </label>
                </td>
                <td class="attribute">文件长度：
                </td>
                <td class="attributevalue">
                    <label id="filelength">
                    </label>
                </td>
            </tr>
            <tr>
                <td class="attribute">用&nbsp;户&nbsp;名：
                </td>
                <td class="attributevalue">
                    <label id="uname">
                    </label>
                </td>
                <td class="attribute">上传时间：
                </td>
                <td class="attributevalue">
                    <label id="update">
                    </label>
                </td>
            </tr>
            <tr>

                <td class="attribute">所属单位：
                </td>
                <td class="attributevalue">
                    <label id="deptname">
                    </label>
                </td>
                <td class="addr">采集地点：
                   
                </td>
                <td>
                    <label id="Collectionaddr">
                    </label>
                </td>
            </tr>
            <tr>

                <td class="attribute">备注描述：
                </td>
                <td>
                    <label id="fbreak"></label>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
