@{
    ViewBag.Title = "ApprovalIndex";
}
<!DOCTYPE HTML>
<html lang="">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="~/Librarys/H5/sipui/global.css" rel="stylesheet" />
    <link href="~/Librarys/H5/static/demo.css" rel="stylesheet" />
    <link href="~/Librarys/H5/css/index.css" rel="stylesheet" />
    <script src="~/Librarys/H5/sipjs/zepto.min.js"></script>
    <script src="~/Librarys/H5/sipjs/sip.js"></script>
    <link href="~/Librarys/H5/mescroll.min.css" rel="stylesheet" />
    <script src="~/Librarys/H5/mescroll.min.js"></script>
</head>
<body>
    <style type="text/css">
        .pBox {
            position: absolute;
            top: 45px;
            left: 0;
            bottom: 0;
            width: 100%;
        }
    </style>
    <div class="content">
        <div class="ui-searchbar-wrap ui-border-b focus">
            <div class="ui-searchbar">
                <i class="ui-icon-search"></i>
                <div class="ui-searchbar-input">
                    <input id="keys" type="text" placeholder="请根据事项类型进行搜索">
                </div>
                <i class="ui-icon-close" onclick='$("#keys").val("");'></i>
            </div>
            <button class="ui-btn ui-btn-primary" onclick="btnSearch();">搜索</button>
        </div>
        <p class="posP">
            <div class="pBox">
                <div id="mescroll" class="mescroll">
                    <ul class="ui-list ui-list-link ui-border-tb" id="ListDate">
                    </ul>
                </div>
            </div>
        </p>
    </div>
    <script type="text/javascript">
        var mescroll;
        function getMescroll() {
            mescroll = new MeScroll("mescroll", {
                down: {
                    callback: downCallback,
                    mustToTop: true,
                    inOffset: function (mescroll) {
                        //进入指定距离offset范围内那一刻的回调
                        if (mescroll.downTipDom) mescroll.downTipDom.innerHTML = "下拉刷新";
                        if (mescroll.downProgressDom) mescroll.downProgressDom.classList.remove("mescroll-rotate");
                    },
                    outOffset: function (mescroll) {
                        //下拉超过指定距离offset那一刻的回调
                        if (mescroll.downTipDom) mescroll.downTipDom.innerHTML = "释放更新";
                    },
                    showLoading: function (mescroll) {
                        //触发下拉刷新的回调
                        if (mescroll.downTipDom) mescroll.downTipDom.innerHTML = "正在刷新 ...";
                        if (mescroll.downProgressDom) mescroll.downProgressDom.classList.add("mescroll-rotate");
                    }
                },
                up: {
                    callback: upCallback,
                    htmlLoading: '<p class="upwarp-progress mescroll-rotate"></p><p class="upwarp-tip">加载中...</p>',
                    htmlNodata: '<p class="upwarp-nodata">暂无数据</p>',
                    showNoMore: function (mescroll, upwarp) {
                        //暂无数据
                        upwarp.innerHTML = '暂无数据';
                    }
                }
            });
        }
        var pageIndex = 1;
        var con = "";
        var searchBegin = false;
        var ajaxBegin = true;
        //初始化、搜索下拉刷新
        function downCallback() {
            if (ajaxBegin) {
                ajaxBegin = false;
                pageIndex = 1;
                $.ajax({
                    url: '@Url.Action("GetApproval", "Mobile")',
                    data: {
                        keywords: con,
                        pageIndex: pageIndex,
                        pageSize: 10
                    },
                    type: 'post',
                    success: function (res) {
                        $('#ListDate').empty()
                        var json = JSON.parse(res);
                        for (var i = 0; i < json.length; i++) {
                            var $li = $('<li class="ui-border-t" onclick="goDetail(\'' + json[i].ID + '\');">\
                                <div class="ui-list-img">\
                                    <span style="background-image: url('+ json[i].FileAddress + ')"></span>\
                                </div>\
                                <div class="ui-list-info">\
                                    <h4 class="ui-nowrap">到期时间：'+ json[i].APPLY_TIME + '</h4>\
                                    <p class="ui-nowrap">类型：'+ json[i].MATTER_TYPE + '</p>\
                                    <p class="ui-nowrap">联系人：'+ json[i].APPLY_LINKMAN + '</p>\
                                        <p class="ui-nowrap">审批时间：' + json[i].ACCEPT_TIME + '</p>\
                                    </div>\
                            </li>')
                            $li.appendTo("#ListDate")
                        }
                        mescroll.endSuccess(json.length, true);
                        ajaxBegin = true;
                    }
                });
            }
        };
        //初始化、搜索上拉
        function upCallback() {
            if (ajaxBegin) {
                ajaxBegin = false;
                if (searchBegin) {
                    pageIndex = 1;
                } else {
                    pageIndex++;
                }
                $.ajax({
                    url: '@Url.Action("GetApproval", "Mobile")',
                    data: {
                        keywords: con,
                        pageIndex: pageIndex,
                        pageSize: 10
                    },
                    type: 'post',
                    success: function (res) {

                        if (searchBegin) {
                            searchBegin = false;
                            $('#ListDate').empty()
                        }
                        var json = JSON.parse(res);
                        if (json.length == 10) {
                            for (var i = 0; i < json.length; i++) {
                                var $li = $('<li class="ui-border-t" onclick="goDetail(\'' + json[i].ID + '\');">\
                                <div class="ui-list-img">\
                                    <span style="background-image: url('+ json[i].FileAddress + ')"></span>\
                                </div>\
                                <div class="ui-list-info">\
                                    <h4 class="ui-nowrap">到期时间：'+ json[i].APPLY_TIME + '</h4>\
                                    <p class="ui-nowrap">类型：'+ json[i].MATTER_TYPE + '</p>\
                                    <p class="ui-nowrap">联系人：'+ json[i].APPLY_LINKMAN + '</p>\
                                        <p class="ui-nowrap">审批时间：' + json[i].ACCEPT_TIME + '</p>\
                                    </div>\
                            </li>')
                                $li.appendTo("#ListDate")
                            }
                            mescroll.endSuccess(json.length, true);
                        } else if (json.length < 10) {
                            for (var i = 0; i < json.length; i++) {
                                var $li = $('<li class="ui-border-t" onclick="goDetail(\'' + json[i].ID + '\');">\
                                <div class="ui-list-img">\
                                    <span style="background-image: url('+ json[i].FileAddress + ')"></span>\
                                </div>\
                                <div class="ui-list-info">\
                                    <h4 class="ui-nowrap">到期时间：'+ json[i].APPLY_TIME + '</h4>\
                                    <p class="ui-nowrap">类型：'+ json[i].MATTER_TYPE + '</p>\
                                    <p class="ui-nowrap">联系人：'+ json[i].APPLY_LINKMAN + '</p>\
                                        <p class="ui-nowrap">审批时间：' + json[i].ACCEPT_TIME + '</p>\
                                    </div>\
                            </li>')
                                $li.appendTo("#ListDate")
                            }
                            mescroll.endSuccess(json.length, false);
                        }
                        ajaxBegin = true;
                    }
                });
            }
        }


        function btnSearch() {
            con = $("#keys").val();
            searchBegin = true;
            upCallback();
            getMescroll()
        };

        function goDetail(Id) {
            location.href = '@Url.Action("ApprovaDetails", "Mobile")?Id=' + Id;
        }
        getMescroll()
    </script>
</body>
</html>
