@{
    ViewBag.Title = "LawSearchIndex";
}
<!DOCTYPE HTML>
<html lang="">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="~/Librarys/H5/sipui/global.css" rel="stylesheet" />
    <link href="~/Librarys/H5/static/demo.css" rel="stylesheet" />
    <script src="~/Librarys/H5/sipjs/zepto.min.js"></script>
    <script src="~/Librarys/H5/sipjs/sip.js"></script>
    <link href="~/Librarys/H5/css/index.css" rel="stylesheet" />
</head>
<body>
    <div class="content" style="background-color: #fff;">
        <ul class="imgList">
            <li>
                <a href="javascript:void(0);">
                    <img src="~/Librarys/H5/img/iconOne.png" alt="">
                    <span>证照查询</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <img src="~/Librarys/H5/img/iconTwo.png" alt="">
                    <span>法规查询</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <img src="~/Librarys/H5/img/iconThree.png" alt="">
                    <span>典型案例查询</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <img src="~/Librarys/H5/img/iconFour.png" alt="">
                    <span>法律依据查询</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <img src="~/Librarys/H5/img/iconFive.png" alt="">
                    <span>办案指引查询</span>
                </a>
            </li>
        </ul>
    </div>
</body>
</html>
