<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SQLConnStringRead" connectionString="server=192.168.1.65\MSSQLSERVER2008;database=WisdomClassed_JYNLSLOverall;user id=sa;password=123;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>