@{
    Layout = null;
}
@model System.String
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StorageSelect</title>
    <script src="@Url.Content("~/Librarys/jquery/jquery-1.8.2.min.js")"></script>
    <style type="text/css">
        #fullHtml {
            border:5px solid black;
            border-radius:10px;
            width:400px;
            height:550px;
            overflow:auto;
        }
        .checkList {
            margin-left:60PX;
            margin-top: 8px;
        }
    </style>
</head>
<body>
    <div id="fullHtml">
     <div style="margin-left:85px;float:left;"><span style="color:red">开始</span></div>

     <div style="margin-left:210px;"><span style="color:red">结束</span></div>
    </div>
</body>
</html>
<script type="text/javascript">

    $(function () {
        fillHtml();
        setDefultVal();
    })


    function fillHtml()//填充复选框
    {
        var date = '@Model'.replace(/&quot;/g, '"');
        var json = JSON.parse(date);
        if (!json)
        {
            return;//没有数据什么都不做
        }
        var beginEndModel = getdate(json);//获取区间对象
        var htmlStr='';//要填充的html
        for (var i = 0; i < beginEndModel.length; i++)
        {
            htmlStr = '<div class="checkList"><input class="' + beginEndModel[i].className + '" type="checkbox" onchange="selectType(this)" bengin="' + beginEndModel[i].begin + '" end="' + beginEndModel[i].end + '"/><span>' + beginEndModel[i].begin + '</span><span>-----></span><span>' + beginEndModel[i].end + '</span></div>';
            $('#fullHtml').append(htmlStr);//填充ntml
        }
        window.classNameArry = beginEndModel.classNameArry;//将class类名显漏出来
    }


    function setDefultVal()
    {
        var text1 = '@Request["WsStart"]';
        var text2 = '@Request["WsEnd"]'; 
        if (!text1 && !text2)
        {
            return;
        }
        $('input[type=checkbox]').each(function () {
            var begin = $(this).attr('bengin');
            var end = $(this).attr('end');
            if (text1 <= begin && (end <= text2||begin<=text2))
            {
                $(this).attr('checked',true);
            }
        })
    }


    function getdate(date)//创建区间对象 bengin开始 end结束 className      后台对象date={selectList:"0001,0002,0003",count:100}  
    {
        var arry = new Array();
        var model = new Object();
        var clasName = 'checkList0';
        arry.classNameArry = new Array();
        arry.classNameArry.push(clasName);
        for (var i = 0; i < date.selectList.length;i++)
        {
            if (i == 0)
            {
                model.begin = date.selectList[i];//开始的开始
                continue;
            }
            
            if ((date.selectList[i] - model.begin+1) % date.count == 0)//段
            {
                model.end = date.selectList[i];//结束
                model.className = clasName;
                arry.push(model);
                if (date.selectList[i + 1] - date.selectList[i] != 1)//差值不是1不是同一组
                {
                    clasName += i;//区分组别
                    arry.classNameArry.push(clasName);//保存在对象中
                }
                model = new Object();//初始化
                if (i >= date.selectList.length)//处理最后
                {
                    break;
                }
                model.begin = date.selectList[i + 1]//后面开始
                i++;
            }
        }
        return arry;
    }

    function selectType(yuansu)
    {
        var check = $(yuansu).attr('class');//获取触发事件的class名称
        var flaseStr='';
        for (var i = 0; i < window.classNameArry.length;i++)
        {
            if (window.classNameArry[i] != check)
            {
                flaseStr = window.classNameArry[i];
                $('.' + flaseStr).attr('checked',false);//将其它的选项去掉
            }
        }
        var thisclassList = $('.' + check);
        thisclassList.attr('checked', false);
        for (var i = 0; i < thisclassList.length; i++)
        {
            if ($(thisclassList[i]).parent().index() - $(yuansu).parent().index()<=0)
            {
                $(thisclassList[i]).attr('checked', true);
            }
        }
    }
    
    function getSelect()
    {
        var isPeople = '@Request["isPeople"]';
        var list = $("input[type=checkbox][checked]");
        if(list.length==0)
        {
            return;
        }
        var lastIndex = list.length - 1;//获取最后的下标
        var result = new Object();
        if (isPeople)//是个人取第一个开始的begin 最后end
        {
            result.bengin = $(list[0]).attr('bengin');//取开始
            result.end = $(list[list.length - 1]).attr('end');
            return result;
        }
        result.bengin = $(list[0]).attr('bengin');//取开始
        result.end = $(list[list.length - 1]).attr('bengin');//最后的开始
        return result;
    }

    //关闭
    function cancle() {
        var api = frameElement.api;
        api.close();
    }
</script>
