<?xml version="1.0"?>
<GeneralConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <!--系统名称-->
  <SystemName>姑苏区综合行政执法平台</SystemName>
  <FileSaveAddr>E:\FileSave\GSCG\</FileSaveAddr>
  <!--证据材料-->
  <FileViewLink>http://192.168.1.110/FileSave/GSCG/</FileViewLink>
  
  <!--文书材料-->
  <FileWritViewLink>http://192.168.1.110/FileSave/GSCG/</FileWritViewLink>

  <!--密码加密地址-->
  <PasswordDecode></PasswordDecode>

  <!--案件审理室部门ID-->
  <AcceptCenterId></AcceptCenterId>
  <!--大队部ID-->
  <ZfcDeptId></ZfcDeptId>

  <!--案件审理室承办人1-->
  <UdPersonalFirst></UdPersonalFirst>
  <!--案件审理室承办人2-->
  <UdPersonalSecond></UdPersonalSecond>

  <!--预审接收人1-->
  <ZfcPersonalFirst></ZfcPersonalFirst>
  <!--预审接收人2-->
  <ZfcPersonalSecond></ZfcPersonalSecond>

  <!--是否启用短信-->
  <IsEnableNote>1</IsEnableNote>

  <!--结案日期在处罚后N月-->
  <FinishMonth>6</FinishMonth>

  <!--图片存储服务链接地址-->
  <FileSaveServiceLink>http://192.168.1.110/GSCGPictureService/PictureService.asmx</FileSaveServiceLink>

  <!--违章停车移交公安生成规则 Start-->
  <SBCode>3205000001</SBCode>
  <WFXW>10391</WFXW>
  <FXJG>320508006300</FXJG>
  <ZQMJ>N</ZQMJ>
  <GLDJ>0</GLDJ>
  <SCValue>N</SCValue>
  <BZValue>N</BZValue>
  <TZSBH>N</TZSBH>
  <CJFS>9</CJFS>
  <SBYH>N</SBYH>
  <Total>1</Total>
  <SN>0</SN>
  <Remark>N</Remark>
  <Ver>1</Ver>
  <Pwh>480|480</Pwh>
  
  <!--一级自动审核时间-->
  <DayNum>2</DayNum>
  <!--一级自动审核时间-->
  <DayYJ>10</DayYJ>

  <!--违章停车移交公安生成规则 End-->

</GeneralConfigInfo>